:root {
  --darkC1: #1D354E;
  --darkC2: #57626E;
  --lightC1: #EEEFF1;
  --fontS1: Shurjo;
  --fontS2: Shurjo Bold;
  --fontI: Inter;
  --lightC2: #FEFBF5;
}
body {
    font-size: 15pt;
}
a,a:hover {
  text-decoration: none;
  color: inherit;
} 
html {
  scroll-behavior: smooth
}
* {
  box-sizing: border-box;
  /*border: solid black 1px*/
}
#sayandweep {
  transition: .5s;
}
.home-ui .int-pic {
  filter: opacity(10%);
  animation: fadein 1.5s alternate;
}
.home-ui .introduce-speech {
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 40px;
}
.home-ui .int-spc {
  font-family: var(--fontI);
  font-size: .6em;
}
.introduce-name {
  font-size: 2em;
  font-family: var(--fontI);
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.color-1 {
  color: #1D354E;
}
.color-2 {
  color: #57626E;
}
.color-3 {
  color: #EEEFF1;
}
.dairy-date {
  font-size: 2em;
  font-family: 'Inter' !important;
  font-weight: 900;
}
.dairy-title {
  font-size: 1.5em;
  font-family: 'Inter' !important; 
  font-weight: 900;
  margin-top: 10px;
}
.dairy-title::before {
  content: '—';
  color: var(--lightC1);
  display: block;
  margin-top: -5px
}
.dairy-content {
  font-size: 1em;
  line-height: 1.6em;
  margin: 40px 0 30px 0;
  font-family: 'Shurjo' !important;
}
.dairy-body {
  padding: 30px 15px;
}
.buttom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  border-top: solid #EEEFF1 2px;
  background-color: white;
}
.buttom-button div {
  padding: 13px 90px;
  transition: .2s;
  color: #57626E;
}
.separator {
  background: #EEEFF1;
  width: 2px
}
@media (min-width: 786px) {
  .dairy-body {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 0;
  }
  .buttom-button div {
    padding: 30px 200px;
  }
}
/* Media */
@media (min-width: 786px) {
  .home-ui .int-spc {
    font-size: 1.2em;
  }
}
/* Animation */ 
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
